doctype html
html(lang="en")
  head
    title Recipe Swap
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    // Fonts
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap")

    // CSS Stylesheets
  link(rel="stylesheet", href="/css/style.css")
  link(rel="stylesheet", href="/css/buttons.css")
  link(rel="stylesheet", href="/css/components.css")
  link(rel="stylesheet", href="/css/dark-mode.css")
  link(rel="stylesheet", href="/css/forms.css")
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css")

  body
    nav.navbar
      a(href="/dashboard") Home
      a(href="/login") Login
      a(href="/register") Register
      if user
        a(href="/logout") Logout

    .container
      block content 

    footer
      p © #{year} Recipe Swap. All rights reserved.

    // Scripts
    script(src="/js/script.js")
    script(src="/js/dark-mode.js")
    script(src="/js/reviews.js")
    script(src="/js/recipe.js")
    script(src="/js/swap.js")
