extends adminlayout

block content
  .main-content
    h1 Admin Profile

    table(border=1)
      tr
        th ID
        td= data.admin_ID
      tr
        th Name
        td= data.name
      tr
        th Email
        td= data.email

    br
    a(href='/admin') Click me to return back
